@page
@model Projeto_escola.Pages.RegistroprofModel

<link rel="stylesheet" type="text/css" href="~/css/Registroprof.css" />

<div class="login-container">
    <div class="login-card">
        <div class="brand">Projeto Escola</div>
        <div class="title">Criar nova conta</div>
        <form method="post">
            <div>
                <label>Usuário:</label>
                <input type="text" name="Usuario" />
            </div>

            <div>
                <label>Senha:</label>
                <input type="password" name="Senha" />
            </div>

            <div>
                <label>Especialidade:</label>
                <input type="text" name="Especialidade" />
            </div>


            <button type="submit">Registrar</button>

        </form>

        <a asp-page="/Login" class="btn">Voltar ao login</a>

        @if (!string.IsNullOrEmpty(ViewData["Mensagem"] as string))
        {
            <div style="margin-top: 15px; color: green;">
                @ViewData["Mensagem"]
            </div>
        }
    </div>
</div>
